header {
    display: flex;
    width: 1512px;
    height: 245.5px;
    color: #000000;
    font-weight: 400;
    font-size: 30px;
    background-color: #D9D9D9;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    width: 1512px;
    height: 319.15px;
    color: #000000;
    font-weight: 400;
    font-size: 30px;
    background-color: #BAB5B5;
    align-items: center;
    justify-content: center;
}